

.cardWraperrBorder:hover{
    box-shadow: 0 10px 30px 0 rgba(0,0,0,.1);
    border-bottom: 4px solid #EF481A;
}
.cardWraperrBorder{
    padding: 10px;
}
.editorialCardTitle{
    padding-top: 20px
}
.editorialCardImage{
    object-fit:cover;
    width: 100px;
    height: 130px;
    background-size:no-repeat;
    background-size:100% 100%;
}
.readMoreText{
    font-weight: 400;
    color:#EF481A !important;
    text-decoration: underline;
}

.readMoreText:hover{
    cursor: pointer;
}

.editoriolTimeText{
    font-weight: 400;
    line-height: 1;
}
.card_image{
    height: 100px;
}
.cardWrapper_tag_text{
    font-size: 75% !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    text-align: center !important;
    white-space: nowrap !important;
}