.menuWrapper {
    border: none !important;
    background: white !important;
    box-shadow: 0px 5px 8px 0px #efefef !important;
}

.headerText{
    font-size: 15px;
}
.headerText > a:hover{
    background: none!important;
    color: #EF481A!important;
}

.menu_header_right{
    padding-top : 20px;
}