body{
  -webkit-user-select: none; 
  -webkit-touch-callout: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;    
  font-family: 'Montserrat' !important;
  font-size: 22px;
}
a {
  text-decoration: none;
}
.grid-margin-removal {
  margin: 0px !important;
}

.margin-center{
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}
.parishromImage{
  background:url('/assets/images/logo_parishram .png');
  width: 97px;
  height: 59px;
  background-size: 100% 100%;
}

/* Editorail Card START*/

.editorial-menu-tab > .secondary{
  display: flex;
  justify-content:  center;
  margin-top: 15px !important;
}
.editorial-menu-tab .secondary > a:hover{
  background: rgba(239, 72, 26, 0.8)!important;
}
.editorial-menu-tab .secondary > .active{
  background: rgba(239, 72, 26,0.8)!important;
}

.editorialcard-tab-pane{
  border: 0px !important;
  box-shadow: none !important;
}

/* Editorail Card END*/


/* NEWS FEED START*/
.news-feed-carousel{
  max-height: 270px;
  width:100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  filter: opacity(80%) blur(10px);
}

.newFeed-profile-picture-wrapper{
  margin-top: -5.5rem;
  border: 0.5rem solid #F5F8FC;
  border-radius: 100%;
  box-shadow: 2px 2px 7px 0 rgba(105, 146, 203, 0.3);
  overflow: hidden;
  width: 200px;
  height: 200px;
}
.newFeed-profile-picture{
  object-fit: cover;
  widows: 100%;
  height: 100%;
}
@media (min-width:300px) and (max-width: 999px){
  .news-feed-carousel {
    filter: none;
  }
  .newFeed-profile-picture-wrapper { 
    display: none!important; 
  }
}
.ProfileHeaderWraper{
  padding-left: 15px
}
.badge-group{
  background-color: antiquewhite;
    color: #333333;
    border-radius: 1rem;
    padding: 0.1875rem 4rem;
    font-size: 0.75rem;
    display: inline-block;
}
.badge-group:hover {
  cursor: pointer;
}
.newsFeed-body-wrapper{
  width: 100% ;
}
.newsFeed-segment{
  width: 100%;
}
/* NEWS FEED END*/

/* RELEVANT NEWS START */
.revelant-news-container{
  margin-top: 20px;
}

/* RELEVANT NEWS START */