body{
  -webkit-user-select: none; 
  -webkit-touch-callout: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;    
  font-family: 'Lato';
  font-size: 22px;
}
a {
  text-decoration: none;
}
.grid-margin-removal {
  margin: 0px !important;
}

.margin-center{
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}
.parishromImage{
  background:url('/assets/images/logo_parishram .png');
  width: 97px;
  height: 59px;
  background-size: 100% 100%;
}

/* Editorail Card START*/

.editorial-menu-tab > .secondary{
  display: flex;
  justify-content:  center;
}

.editorialcard-tab-pane{
  border: 0px !important;
  box-shadow: none !important;
}

/* Editorail Card END*/


/* NEWS FEED START*/
.news-feed-carousel{
  min-height: 249px;
  background-size: cover;
  background-repeat: no-repeat;
}

.newFeed-profile-picture-wrapper{
  margin-top: -5.5rem;
  border: 0.5rem solid #F5F8FC;
  border-radius: 100%;
  box-shadow: 2px 2px 7px 0 rgba(105, 146, 203, 0.3);
  overflow: hidden;
  width: 140px;
  max-height: 140px;
}
.newFeed-profile-picture{
  width: 140px;
  object-fit: cover;
  height: 140px;
}
.ProfileHeaderWraper{
  padding-left: 15px
}
.badge-group{
  background-color: antiquewhite;
    color: #333333;
    border-radius: 1rem;
    padding: 0.1875rem 4rem;
    font-size: 0.75rem;
    display: inline-block;
}

.newsFeed-body-wrapper{
  width: 100% ;
}
.newsFeed-segment{
  width: 100%;
}
/* NEWS FEED END*/