
.mobileParentWraper {
    margin-top: 5px!important;
}
.sidebarLogoWrapper {
    display: "flex" !important;
    justify-content: "space-around" !important;

}
.menuWrapper{
   padding-right:30px;
   padding-left:50px;
}